@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
:root {
    --primary-color: #183358;
    --secondary-color: #d8c11a;
    --light-color: #f4f4f4;
    --dark-color: #333;
}

footer {
    position: absolute;
    color: var(--light-color);
    bottom: 0;
    width: 100%;
    line-height: 3.5rem;
    background: var(--dark-color);
}